.firstDiv {
  color: blue;
}

.secondDiv {
  color: green;
}

#singledout {
  color: red;
  text-decoration: line-through;
}

/* * {
  color: black;
} */

/* adjacent siblings */
h3 + ul {
  border: 4px dotted purple;
}

/* descendants */

li a {
  color:red;
}

/* attributes */

li a[href="www.npr.org"] {
  color:blue;
  border: 5px solid orange;
}
